In [25]:
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import csv
import operator
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import RobustScaler, OneHotEncoder,LabelEncoder
from sklearn.impute import MissingIndicator
from sklearn.impute import SimpleImputer

import math
import re

In [26]:
data = pd.read_csv('/Users/Sissi/Desktop/OA/amazon_co-ecommerce_sample.csv')
data.head()

,uniq_id,product_name,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,customers_who_bought_this_item_also_bought,description,product_information,product_description,items_customers_buy_after_viewing_this_item,customer_questions_and_answers,customer_reviews,sellers
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,£3.42,5 new,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Product Description Hornby 2014 Catalogue Box ...,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever) ...,"{""seller""=>[{""Seller_name_1""=>""Amazon.co.uk"", ..."
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,£16.99,NaN,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,Size Name:Large FunkyBuys® Large Christmas Hol...,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,can you turn off sounds // hi no you cant turn...,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,"{""seller""=>{""Seller_name_1""=>""UHD WHOLESALE"", ..."
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,£9.99,2 new,17,2.0,3.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Classic-Train-Lights-B...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,Technical Details Manufacturer recommended age...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,http://www.amazon.co.uk/Train-With-Tracks-Batt...,What is the gauge of the track // Hi Paul.Trut...,**Highly Recommended!** // 5.0 // 26 May 2015 ...,"{""seller""=>[{""Seller_name_1""=>""DEAL-BOX"", ""Sel..."
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,£39.99,NaN,1,2.0,5.0 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,NaN,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,Technical Details Item Weight259 g Product Dim...,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,NaN,NaN,I love it // 5.0 // 22 July 2013 // By\n \n...,NaN
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,£32.19,NaN,3,2.0,4.7 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R6367-RailRoad-...,Product Description Hornby RailRoad 0-4-0 Gild...,Technical Details Item Weight159 g Product Dim...,Product Description Hornby RailRoad 0-4-0 Gild...,http://www.amazon.co.uk/Hornby-R2672-RailRoad-...,NaN,Birthday present // 5.0 // 14 April 2014 // By...,NaN

In [27]:
data = data.drop(['uniq_id', 'product_name','amazon_category_and_sub_category','customers_who_bought_this_item_also_bought','description','product_information','product_description','items_customers_buy_after_viewing_this_item','customer_questions_and_answers','sellers'], axis=1)

In [28]:
data.fillna(value = 'NAN')

,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,customer_reviews
0,Hornby,£3.42,5 new,15,1,4.9 out of 5 stars,Worth Buying For The Pictures Alone (As Ever) ...
1,FunkyBuys,£16.99,NAN,2,1,4.5 out of 5 stars,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...
2,ccf,£9.99,2 new,17,2,3.9 out of 5 stars,**Highly Recommended!** // 5.0 // 26 May 2015 ...
3,Hornby,£39.99,NAN,1,2,5.0 out of 5 stars,I love it // 5.0 // 22 July 2013 // By\n \n...
4,Hornby,£32.19,NAN,3,2,4.7 out of 5 stars,Birthday present // 5.0 // 14 April 2014 // By...
...,...,...,...,...,...,...,...
9995,Mattel,£22.95,5 new,3,3,5.0 out of 5 stars,Realistic // 5.0 // 31 Mar. 2014 // By\n \n...
9996,Star Wars,£39.99,NAN,1,3,4.0 out of 5 stars,... what I see my grandson us going to have fu...
9997,Olde Scotland Yard Ltd.,£43.99,3 new,1,3,5.0 out of 5 stars,Five Stars // 5.0 // 18 Dec. 2015 // By\n \...
9998,DC Comics,£49.81,3 new,1,3,5.0 out of 5 stars,The best sculpt in a while // 5.0 // 13 May 20...
9999,Bandai,£21.20,31 new,11,3,4.5 out of 5 stars,Gold leader // 5.0 // 31 Aug. 2015 // By\n ...

In [29]:
objList = data.select_dtypes(include = "object").columns

In [30]:
col_vals = LabelEncoder()
for col in objList:
    if col == 'manufacturer':
        data['manufacturer_name'] = col_vals.fit_transform(data[col].astype(str))

In [31]:
for index, row in data.iterrows():
    score = row['average_review_rating']
    if score == score:
        value = re.findall("\d+\.?\d*", score)[0]
        tmp = float(value)
        frac = tmp - math.floor(tmp);
        if (frac < 0.5):
            data.loc[data.index == index, 'rate_num'] = math.floor(tmp)
        else:  
            data.loc[data.index == index, 'rate_num'] = math.ceil(tmp)

In [32]:
for index, row in data.iterrows():
    price = row['price']
    if price == price:
        value = re.findall("\d+\.?\d*", price)[0]
        data.loc[data.index == index, 'price_num'] = float(value)
        data['price_num'].astype(float)

In [33]:
for index, row in data.iterrows():
    stockVal = row['number_available_in_stock']
    if stockVal == stockVal:
        value = re.findall("\d+\.?\d*", stockVal)[0]
        data.loc[data.index == index, 'stock_num'] = float(value)
        data['stock_num'].astype(float)

In [34]:
for index, row in data.iterrows():
    question = row['number_of_answered_questions']
    if question == question:
        data.loc[data.index == index, 'question_ans_num'] = float(question)
        data['question_ans_num'].astype(float)

In [35]:
for index, row in data.iterrows():
    review = row['number_of_reviews']
    if review == review:
        value = review.replace(',','')
        #print(value)
        data.loc[data.index == index, 'review_num'] = float(value)
        data['review_num'].astype(float)

In [36]:
data.head()

,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,customer_reviews,manufacturer_name,rate_num,price_num,stock_num,question_ans_num,review_num
0,Hornby,£3.42,5 new,15,1.0,4.9 out of 5 stars,Worth Buying For The Pictures Alone (As Ever) ...,1029,5.0,3.42,5.0,1.0,15.0
1,FunkyBuys,£16.99,NaN,2,1.0,4.5 out of 5 stars,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,801,5.0,16.99,NaN,1.0,2.0
2,ccf,£9.99,2 new,17,2.0,3.9 out of 5 stars,**Highly Recommended!** // 5.0 // 26 May 2015 ...,2555,4.0,9.99,2.0,2.0,17.0
3,Hornby,£39.99,NaN,1,2.0,5.0 out of 5 stars,I love it // 5.0 // 22 July 2013 // By\n \n...,1029,5.0,39.99,NaN,2.0,1.0
4,Hornby,£32.19,NaN,3,2.0,4.7 out of 5 stars,Birthday present // 5.0 // 14 April 2014 // By...,1029,5.0,32.19,NaN,2.0,3.0

In [37]:
data_dict = {'manufacturer_name': data['manufacturer_name'],
             'price_num': data['price_num'],
            'stock_num': data['stock_num'],
            'review_num': data['review_num'],
            'answer_num': data['question_ans_num'],
            'customer_comments': data['customer_reviews'],
            'rate_num': data['rate_num']}
useful_info_df = pd.DataFrame(data_dict)

In [38]:
useful_info_df['price_num'] = pd.to_numeric(useful_info_df['price_num'])
useful_info_df['stock_num'] = pd.to_numeric(useful_info_df['stock_num'])
useful_info_df['review_num'] = pd.to_numeric(useful_info_df['review_num'])
useful_info_df['answer_num'] = pd.to_numeric(useful_info_df['answer_num'])
useful_info_df['rate_num'] = pd.to_numeric(useful_info_df['rate_num'])

In [39]:
useful_info_df = useful_info_df.dropna(subset=['customer_comments'])

In [41]:
print (useful_info_df.isnull().sum())

manufacturer_name       0
price_num            1431
stock_num            2494
review_num              0
answer_num            764
customer_comments       0
rate_num                0
dtype: int64

In [42]:
num_cols = [col for col in useful_info_df.columns if useful_info_df[col].dtypes !='O']
print(num_cols)

['manufacturer_name', 'price_num', 'stock_num', 'review_num', 'answer_num', 'rate_num']

In [43]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median', fill_value=None)
for header in num_cols:
    imputer.fit(useful_info_df[[header]])
    useful_info_df[header] = imputer.transform(useful_info_df[[header]]).ravel()

In [44]:
print (useful_info_df.isnull().sum())

manufacturer_name    0
price_num            0
stock_num            0
review_num           0
answer_num           0
customer_comments    0
rate_num             0
dtype: int64

In [45]:
print("Number of rows per star rating:")
print(useful_info_df['rate_num'].value_counts())

Number of rows per star rating:
5.0    7580
4.0    2393
3.0       5
2.0       1
Name: rate_num, dtype: int64

In [46]:
useful_info_df.shape

(9979, 7)

In [47]:
useful_info_df.head()

,manufacturer_name,price_num,stock_num,review_num,answer_num,customer_comments,rate_num
0,1029.0,3.42,5.0,15.0,1.0,Worth Buying For The Pictures Alone (As Ever) ...,5.0
1,801.0,16.99,5.0,2.0,1.0,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,5.0
2,2555.0,9.99,2.0,17.0,2.0,**Highly Recommended!** // 5.0 // 26 May 2015 ...,4.0
3,1029.0,39.99,5.0,1.0,2.0,I love it // 5.0 // 22 July 2013 // By\n \n...,5.0
4,1029.0,32.19,5.0,3.0,2.0,Birthday present // 5.0 // 14 April 2014 // By...,5.0